* {
      box-sizing: border-box;
}

/* body styles */

body {
      background-color: #FFF;
      color: #000;
      font-size: 16px;
      font-family: 'Outfit', sans-serif;
}

a {
      color: rgb(103, 141, 88);
}

a:visited, a:hover {
      color: #1774A2;

}

h1, h2, h3, h4, h5, h6 {
      text-align: center;
}

h1 {
      font-size: 2rem;
}

h2 {
      font-size: 1.2rem;
}



.intro {
      font-size: 1rem;
      text-align: center;
}

/* VERSION ONE */

ul {
      list-style-type:none;
      width: 50%;
      margin: 0 25%;
}

li {
      padding: 1rem 0;
      margin: 1rem 0;
      border: solid 3px rgb(103, 141, 88);
      text-align: center;
}

i {
      color: rgb(103, 141, 88);
      padding-right: 1rem;
}


/* VERSION 2 */

.square {
      width: 25%;
}

.linkImg {
      height: 200px;
      width: 200px;
}

#graphics {
      width: 80%;
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      margin: 0 10%;
      padding: 0 5%;
      justify-content: center;
}

.square {
      position: relative;
      display: flex;
      flex-direction: column;
}

figcaption {
      text-align: center;
}

/* FOOTER */

.contact {
      display: flex;
      justify-content: center;
      margin-bottom: 20rem;
      width: 50%;
      margin: 0 25%;
}

form {
      width: 85%;
      margin-left: 7.5%;
}

input {
      width: 100%;
}

textarea {
      width: 100%;
}

.required {
      color: red;
}